/* Import a custom font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Apply the custom font to the body and all headings */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}
