/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Apply the Poppins font to the body and all headings */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.hs-form-frame {
    opacity: 0; /* Adjust transparency level */
}